@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Bem Vindo a WebApplication.mvc</h1>

    <div class="container">

        <div class="row my-3">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                    <div class="card border-warning">
                        <h5 class="card-header bg-warning border-warning">Instrutores</h5>
                        <div class="card-body ">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a asp-area="" asp-controller="Instrutor" asp-action="Index" class="btn btn-secondary">Conheça</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-info">
                        <h5 class="card-header bg-info border-info">Inscritos</h5>
                        <div class="card-body">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a asp-area="" asp-controller="Inscrito" asp-action="Index" class="btn btn-secondary">Conheça</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-sm-6">
                    <div class="card border-danger">
                        <h5 class="card-header bg-danger border-danger">Lives</h5>
                        <div class="card-body">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a asp-area="" asp-controller="Lives" asp-action="Index" class="btn btn-secondary">Conheça</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card border-success">
                        <h5 class="card-header bg-success border-success">Inscrições</h5>
                        <div class="card-body">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a asp-area="" asp-controller="Inscricao" asp-action="Index" class="btn btn-secondary">Conheça</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
