@{
    ViewData["Title"] = "Sobre o Projeto";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Objetivo do projeto</h4>
        <p>Durante a pandemia do coronavírus, o time de desenvolvimento da Sponte passou a desenvolver <b>lives</b> para alimentar o conhecimento da comunidade de tecnologia e arrecadar doações em dinheiro para ações de combate aos efeitos do Covid.</p>
        <p>Essas lives serão ministradas por <b>instrutores</b> da empresa que falam de diversos assuntos. Cada live poderá ter diversos <b>inscritos.</b></p>
        <p>O projeto visa desenvolver um breve sistema WEB (ASP.NET) que controle os cadastros e relacione as informações de maneira que o usuário possa gerenciar as lives, pessoas inscritas, instrutores e ainda gerar uma linha digitável de boleto para arrecadar doações.</p>
        <hr>
        <p class="mb-0">- Linguagem de programação .NET (C#)</p>
        <p class="mb-0">- Banco de dados SQL SERVER</p>

    </div>
</div>