@model WebApplication.mvc.Models.Inscricao
@using WebApplication.mvc.Models.Enum;

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Incrição</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LiveId" class="control-label">Live:</label>
                <select asp-for="LiveId" class="form-control" asp-items="ViewBag.LiveId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InscritoId" class="control-label">Inscrito:</label>
                <select asp-for="InscritoId" class="form-control" asp-items="ViewBag.InscritoId"></select>
                @*@Html.DropDownList("InscritoId", Model.LiveViewModel, new { @class = "form-control" })*@
            </div>
            <div class="form-group">
                <label asp-for="DataVencimento" class="control-label">Data Vencimento:</label>
                <input asp-for="DataVencimento" class="form-control" />
                <span asp-validation-for="DataVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusPagamento" class="control-label"></label>

                <select asp-for="StatusPagamento" class="form-control" asp-items="@Html.GetEnumSelectList<StatusPagmtoEnum>()">
                    <option selected="selected" value="">Selecione uma opção</option>
                </select>

                <span asp-validation-for="StatusPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
